<%-include('partials/header');%>

    

    <body>

        <div class='background'>
            <section class='book' id='book'>
                <center>
                    <div class='head'>
                        <div class="logo">
                            <img src="/Pictures/White_Logo.png" width="60%"><br>
                        </div>
                    </div>
                    <p class='msg'>Please select a table </p><br>
                    <div class='form'>
                        
                        <select name="cars" id="cars">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                          </select><br><br><br>

                          <p class='msg'>Please select a time </p><br>
                          <div class='form'>
                              
                              <select name="cars" id="cars">
                                  <option value="1">11.00</option>
                                  <option value="2">12.00</option>
                                  <option value="3">13.00</option>
                                  <option value="4">14.00</option>
                                </select><br><br><br><br>

                        <a href="category" class='btn-book' id='do-book'>SUBMIT</a><br><br><br><br>
                        
                            
                    </div>
                </center>
            </section>
        </div>

    </body>

    