<%-include('partials/header');%>

    <body>

        <div class="split left">
            <div class="ltext">

                <h1>Category</h1><br><br>
                <img src="/Pictures/category/main-dish/seafood-cocktail-pizza.jpg"><br><br><br><br><br>
                <img src="/Pictures/category/drink/cola.jpg">
            </div>
            <div class="lltext">
                <img src="/Pictures/category/appetizer/salad.jpg"><br><br><br><br><br>
                <img src="/Pictures/category/dessert/donut-duo.jpg">
            </div>
        </div>


        <div class="split right">
            <div class="rtext">
          
                <h1>Orders</h1><br><br>
                
              </div>
              <div class="note">
                
                <h3 >Note.</h3><br>
                <input type="text" ><br>
                <button class="button button4">SUBMIT</button>
              </div>
        </div>


    </body>

    </html>