<%-include('partials/header');%>
<title>Checkout</title>
    <body>

        <p class='msg'>Checkout </p><br><br>
                    
            
                                 


    </body>

    </html>