<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>R-DIVIDE</title>
    <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
</head>

<body>
    
    <div class='background'>
            <section class='book' id='book'>
                <center>
                    <div class='head'>
                        <div class="logo">
                            <img src="/Pictures/White_Logo.png" width="60%"><br>
                        </div>
                    </div>
                    <p class='msg'>Welcome to our resterant. </p><br><br>
                    <div class='form'>
                
                        <a href="booking" class='btn-book' id='do-book'>Reservations</a><br><br><br><br>
                        <a href="login" class = "login">Not a customer? </a>
                                
                    </div>
                </center>
            </section>
        </div>
    
</body>

</html>