<%-include('partials/header');%>
  <title>Login</title>

  <body>

    <section class='login' id='login'>
      <center>
        <div class='head'>
          <div class="logo">
            <br><br><br><br>
            <img src="/Pictures/White_logo.png" width="60%"><br><br>
          </div>
        </div>
        <p class='msg'>SIGN IN</p><br><br>
        <div class='form'>
          <form action="/login" method="post">
            <input type="text" placeholder='E-mail' class='text' id='username' name='username' required><br><br>
            <input type="password" placeholder='   Password' class='password' name='password'
              required><br><br><br><br><br>
            <button class='btn-login' id='do-login' type='submit'>SUBMIT</button>

          </form>
        </div>
      </center>
    </section>


    <!-- partial -->
    <script>

      var error = <%- error %>;
      if (error) {
        alert('Please try again ')
      }
    </script>

  </body>