<%-include('partials/header');%>
  <title>Login</title>

  <body>

    <section class='login' id='login'>
      <center>
        <div class='head'>
          <div class="logo">
            <br><br><br><br>
            <img src="/Pictures/White_Logo.png" width="60%"><br><br>
          </div>
        </div>
        <p class='msg'>SIGN IN</p><br><br>
        <div class='form'>
          <form>
            <input type="text" placeholder='E-mail' class='text' id='username' required><br><br>
            <input type="password" placeholder='   Password' class='password'><br><br><br><br><br>
            <a href="orders" class='btn-login' id='do-login'>SUBMIT</a>
            
          </form>
        </div>
      </center>
    </section>


    <!-- partial -->
    <script src="js/script.js"></script>

  </body>