<%-include('partials/header2');%>
<title>Orders</title>
<body>
    <div class='background'>
        <section class='book' id='book'>
            <center>
                <p class='msg'>Orders </p><br><br>
                <div class='form'>
            
                    
                            
                </div>
            </center>
        </section>
    </div>
</body>
